<!-- add_user.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
        <h2>Add Player</h2>
        <form method="post">
            {% csrf_token %}
            {{ player_form.as_p }}
            <button type="submit" name="submit_player">Submit Player</button>
        </form>
        <h2>Add Coach</h2>
        <form method="post">
            {% csrf_token %}
            {{ coach_form.as_p }}
            <button type="submit" name="submit_coach">Submit Coach</button>
        </form>
        #form for adding jury 
        <h2>Add Jury</h2>
        <form method="post">
            {% csrf_token %}
            {{ jury_form.as_p }}
            <button type="submit" name="submit_jury">Submit Jury</button>
        </form>
</body>
</html>
