<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Login Dashboard, Select with which role you will log in</h1>
    <ul>
        <li><a href="{% url 'coach_login' %}">Login Coach</a></li> 
        <li><a href="{% url 'jury_login' %}">Login Jury</a></li>
        <li><a href="{% url 'general_login' %}">Database Manager Login</a></li>
        <li><a href="{% url 'player_login' %}">Player Login</a></li>



    </ul>
</body>
</html>
